 
#footer {
	grid-area: footer !important;
  display: flex; 
  justify-content: center;
  width: 100%;
  background-color: var(--white);
  z-index: 995;
  border-top: 0.1px solid rgba(211, 211, 211, 0.5);
  box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -15px;
  width:100%,
}
.footer_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  align-items: center;
  margin: 0 10px;
  background-color: var(--white) !important;
}

/* icon button */
.footerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: var(--small-text);
  cursor: pointer;
  transition: 500ms ease;
}
/* icon button */
.footerOption-active { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: var(--gradient-background);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text; 
  border-top:1px solid var(--fade-purple);
  cursor: pointer;
  transition: 500ms ease;
  padding-top: 0.5rem;

}

/* icon button */
.footerOption-top .active {
  border-top: 1px solid var(--fade-purple);
    background-color: var(--white) !important;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text; 
}

/* .footerOption:hover {
  color: black;
} */

.footerOption_title {
  font-size: 8px !important;
  font-weight: 300;
  text-align: center;
}
.footerOption_title-active  {
  font-size: 8px !important;
  font-weight: 300;
  text-align: center;
  background: var(--gradient-background);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text; 
    background-color: var(--white) !important;
}
.footerOption_icon {
  object-fit: contain;
  height: 20px  ;
  width: 20px  ;
 background-color: var(--white)  ;
 color: var(--small-text);
}
.footerOption_icon_active  {
  object-fit: contain;
  height: 20px  ;
  width: 20px  ;
 background-color: var(--white);
   color: var(--fade-purple) !important;
}

/* .nav-link   {
  color: var(--gradient-background) !important;
} */

#footer  .nav-link .active {
  border-bottom: 2px solid var(--fade-purple) !important; 
   background-color: var(--white) !important;
    color: var(--fade-purple) !important;
}

#footer  .nav-link .active svg,
.nav-link nav a.active span {
  color: var(--fade-purple) !important;
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text; 
   background-color: var(--white) !important;
}


@media only screen and (min-width: 1201px) {
  #footer  {
    display: none;
  }
}
