.works_container{  
	   padding: 1rem 5rem;
}

.works_container_sub_main{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 56px;

}


.works_container_img{
	width: 315px !important;
	height: 248px;  
}
 


.works_container_sub{
	display: flex; 
	width: 545px;
	height: 248px; 
gap: 30px;
}
.works_container_sub_div{ 
	width: 200px; 
	display: flex;
	flex-direction: column;
	gap: 25px;
}
 

.works_container h6{ 
font-style: italic;
font-weight: 600;
font-size: 18px;
line-height: 24px; 
color: var(--black);
}
.works_container h2{   
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px; 
text-transform: uppercase;
color: var(--black);
margin-bottom: 50px;
}

.works_container_sub_div p{
font-style: italic;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: var(--black);
}
.works_container_sub_div h3{ 
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px; 
color: var(--black);
}


 
@media (max-width: 1524px) {
  .works_container_sub_main {
   display: flex ;
			flex-direction: column;
  }

  .works_container_sub {
    flex-direction: column; 
	width: 100%;
	height: auto; 
gap: 30px;
  }
		 .works_container_sub_div {
    width: auto;
    margin-bottom: 20px;
  }
	}

@media (max-width: 1024px) {
  .works_container_sub_main {
   display: flex  ;
  }

  .works_container_sub {
    flex-direction: column; 
	width: 100%;
	height: auto; 
gap: 30px;
  }

  .works_container_sub_div {
    width: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
	.works_container h2{   
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 56px; 
text-transform: uppercase;
color: var(--black);
margin-bottom: 50px;
}
	.works_container{  
	   padding: 1rem 2rem;
}
  .works_container_sub_div {
    width: auto;
    margin-bottom: 5px;
				gap: 0px;
  }

  .works_container h2 {
    margin-bottom: 20px;
  }
		.works_container_sub_div h3{ 
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 40px; 
color: var(--black);
}
}

 