 
 
 
 *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


:root {
  --gradient-background: linear-gradient(270.16deg, #FFB147 5.74%, #FF6C63 50.64%, #B86ADF 92.05%);
  --light-text:rgba(20, 19, 19, 0.8);
  --fade-purple: #F9F9F9;
  --hover-background: #ededed;
  --text: #5C5F62;
  --small-text: #ABACAE;
  --small-static: #EDEDED;
  --black: #141313;
  --text_background: #F3F3F3; 
  --white:#ffffff;
  --form-border:#E2E2E2;
  --background:#FFFFFF;
  /* --background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F5F6F8; 
  --box-shadow: 0 0 4px rgba(0, 0, 0, .05), 0 0 16px rgba(0, 0, 0, .05), 0 0 32px rgba(0, 0, 0, .05), 0 0 64px rgba(0, 0, 0, .05); */
}
 
 
body { 
  background:  var(--background); 
  line-height: 1.3;
  padding-left: 0px !important; 
   font-family: 'IBM Plex Sans', sans-serif !important;
     font-style: normal;
  font-weight: 100 700;
}


img, 
svg {
  /* display: block !important; */
  max-width: 100% !important;
}

input, 
button, 
textarea, 
select {
  font: inherit !important;
  box-sizing: border-box !important;
}
@media (max-width: 1200px) {
input, 
button, 
textarea, 
select {
  font: small !important; 
}
}
 
a {
  text-decoration: none !important;
  outline: none !important;
}
 



#header{
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 26px 50px;
}
 
.header_sub{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
 
 #page-wrapper {
  display: grid !important;
  position: relative;
  height: 100dvh !important;
  grid-template-columns: max-content 1fr !important;
  grid-template-rows: 60px 1fr !important;
  grid-template-areas:
    "sidenav header"
    "sidenav main" 
    "sidenav footer";   
}

main {
  grid-area: main !important; 
  overflow-y: scroll!important; 
   width: 100%;
}



@media (max-width: 1200px) {
  main {
  grid-area: main !important; 
  overflow-y: scroll!important;
  width: 100%;
  }
#page-wrapper {
    display: grid !important;
    position: absolute;
    height: 100dvh !important;
    grid-template-columns: max-content 1fr !important;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer"; 
} 
 }  
  
 /* --- Other CSS Files --- */
@import url(../css/SideNav.css);  
@import url(../css/BottomNavigation.css);  
@import url(../css/Header.css);  
@import url(../css/Home.css);  
@import url(../css/Contact.css);  
@import url(../css/Works.css);  
@import url(../css/Services.css);  
@import url(../css/About.css);  









 